<div class="h-screen w-full p-5 md:p-8">
    <h2 class="text-4xl font-semibold text-white">¿Cuáles arrow functions en JavaScript retornan un nuevo array?</h2>
    <ol class="text-4xl text-white font-semibold pl-14 pt-5 list-[upper-latin]">
        <li>map()</li>
        <li>filter()</li>
        <li>foreach()</li>
        <li>find()</li>
    </ol>
    <div id="botones" class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-5 my-16 w-full">
        <button class="bg-[#f7df1e] hover:bg-[#f7de1eaf] text-black font-bold py-10 px-20 mr-0 md:mr-5 rounded text-4xl">A y B</button>
        <button class="bg-[#f7df1e] hover:bg-[#f7de1eaf] text-black font-bold py-10 px-20 mr-0 md:mr-5 rounded text-4xl">B y C</button>
        <button class="bg-[#f7df1e] hover:bg-[#f7de1eaf] text-black font-bold py-10 px-20 mr-0 md:mr-5 rounded text-4xl">A y C</button>
    </div>
</div>