<div class="container mx-auto w-max pb-28">
    <h1 class="text-5xl font-semibold xs:py-2 lg:py-4 text-white my-3">Interview Trainer</h1>
    <div class="grid sm:gap-5 md:gap-10 lg:gap-18 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 md:py-2">
        <div *ngFor="let tech of technologies"
            class="w-96 h-66 rounded-lg {{tech.bgCard}} duration-200 hover:scale-105 p-5 mt-0 mb-5 md:mb-0 relative">
            <div *ngIf="!tech.status" class="bg-black/70 absolute top-0 left-0 w-full h-full rounded-lg">
                <h5 class="text-3xl font-bold tracking-tight text-white flex justify-center mt-24">No disponible
                </h5>
            </div>
            <img class="w-32" src="{{tech.imgUrl}}" alt="logo-javascript">
            <div class="flex justify-between xs:mt-6 sm:mt-10 md:mt-6 lg:mt-6">
                <h5 class="text-3xl sm:pt-2 font-bold tracking-tight {{tech.textColor}}">Avanzado</h5>
                <div
                    class="flex justify-center align-middle {{tech.bgIconContainer}} w-[49px] h-[49px] rounded cursor-pointer">
                    <svg class="w-6 h-6 mt-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" [attr.stroke]="tech.iconStroke">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>