<div class="container mx-auto w-max py-2 xs:py-4">
    <h1 class="text-5xl font-semibold xs:py-2 lg:py-4 text-white">Interview Trainer</h1>
    <div class="grid sm:gap-5 md:gap-10 lg:gap-18 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 md:py-2">
        <div class="lg:w-96 md:w-64 h-66 rounded-lg bg-[#f7df1e] duration-200 hover:scale-105 p-5 my-5">
            <img class="w-28 md:w-16 py-6" src="../../../assets/img/logo-javascript.png" alt="logo-javascript">
            <div class="flex justify-between xs:mt-6 sm:mt-10 md:mt-6 lg:mt-6">
                <h5 class="text-3xl sm:pt-2 font-bold tracking-tight text-black">Avanzado</h5>
                <div class="flex justify-center align-middle bg-black w-[49px] h-[49px] rounded cursor-pointer">
                    <svg class="w-6 h-6 fill-black mt-3" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="white">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="lg:w-96 md:w-64 h-66 rounded-lg bg-white duration-200 hover:scale-105 p-5 my-5 relative">
            <div class="bg-black/70 absolute top-0 left-0 w-full h-full rounded-lg">
                <h5 class="text-3xl font-bold tracking-tight text-white flex justify-center mt-20">No disponible
                </h5>
            </div>
            <img class="w-28 md:w-16 py-1" src="../../../assets/img/logo-angular.png" alt="logo-angular">
            <div class="flex justify-between mt-10">
                <h5 class="text-3xl sm:pt-2 font-bold tracking-tight text-black">Avanzado</h5>
                <div class="flex justify-center align-middle bg-black w-[49px] h-[49px] rounded cursor-pointer">
                    <svg class="w-6 h-6 fill-black mt-3" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="white">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="lg:w-96 md:w-64 h-66 rounded-lg bg-[#222222] duration-200 hover:scale-105 p-5 my-5 relative">
            <div class="bg-black/70 absolute top-0 left-0 w-full h-full rounded-lg">
                <h5 class="text-3xl font-bold tracking-tight text-white flex justify-center mt-20">No disponible
                </h5>
            </div>
            <img class="w-28 md:w-16 py-3" src="../../../assets/img/logo-react.png" alt="logo-react">
            <div class="flex justify-between mt-9">
                <h5 class="text-3xl sm:pt-2 font-bold tracking-tight text-white">Avanzado</h5>
                <div class="flex justify-center align-middle bg-white w-[49px] h-[49px] rounded cursor-pointer">
                    <svg class="w-6 h-6 fill-black mt-3" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="black">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>